.partners-slider {
    overflow: hidden;
    width: 100%;
    background: white;
    padding: 20px 0;
}

.partners-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.partners-slide {
    flex: 0 0 auto;
    width: 180px;
    /* adjust logo width */
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners-slide img {
    max-width: 100%;
    height: auto;
}

/* Animation for infinite scroll */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}